<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="net.tuurlievens.fuzzyclockscreensaver">

    <application
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/screensaver_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <!-- Dream service -->
        <service
                android:name=".FuzzyClockDream"
                android:exported="true"
                android:icon="@mipmap/ic_launcher"
                android:label="@string/screensaver_name"
                android:permission="android.permission.BIND_DREAM_SERVICE">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                    android:name="android.service.dream"
                    android:resource="@xml/dream"/>
        </service>

        <!-- Notification listener service -->
        <service android:name=".NotificationListener"
                 android:label="@string/screensaver_name"
                 android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <!-- Settings Activity -->
        <activity
                android:name=".DreamSettingsActivity"
                android:label="@string/settings">
        </activity>

        <!--Load fonts-->
        <meta-data android:name="preloaded_fonts" android:resource="@array/preloaded_fonts"/>

    </application>

</manifest>