<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="net.tuurlievens.fuzzyclockwidget">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/widget_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <receiver android:name=".FuzzyClockWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/fuzzy_clock_widget_info"/>
        </receiver>

        <activity android:name=".FuzzyClockWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>


        <!--  Declare  Alarm Broadcast receiver here  -->
        <receiver android:name=".AlarmReceiver" />

        <!--  Declare  Alarm Sound Service here  -->
        <service
                android:name=".UpdateWidgetService"
                android:permission="android.permission.BIND_JOB_SERVICE" />

        <!--Load fonts-->
        <meta-data android:name="preloaded_fonts" android:resource="@array/preloaded_fonts"/>
    </application>
</manifest>